version: "3.8"

services:
  db:
    image: postgres:12.2-alpine
    container_name: "nectar-sql-db-for-tests"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pgpassword
    networks:
      - fullstack_for_tests
    volumes:
      - database_postgres_for_tests:/var/lib/postgresql/data

  api:
    build: .
    container_name: "nectar-rest-api"
    environment:
      DB_USERNAME: "postgres"
      DB_PASSWORD: "pgpassword"
      DB_DB: "postgres"
      DB_HOST: "db"
      DB_PORT: "5432"
      SSL_MODE: "disable"
      TOKEN_SECRET: nectar
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - fullstack_for_tests

volumes:
  database_postgres_for_tests:

networks:
  fullstack_for_tests:
    driver: bridge